=link_to(t('rakeman.tasks.actions.update_list'), update_tasks_list_path)
%table{border: 1}
  %thead
    %tr
      - t('rakeman.tasks.columns').each_value do |column_name|
        %td= column_name
  %tbody
    - @tasks.each do |task|
      %tr
        %td= task.name
        %td= task.description
        %td= task.done
        %td
          .table_actions
            -if task.done?
              = link_to(t('rakeman.tasks.actions.mark_as_undone'), mark_as_undone_path(task))
            -else
              = link_to(t('rakeman.tasks.actions.mark_as_done'), mark_as_done_path(task))
              = link_to(t('rakeman.tasks.actions.execute'), execute_task_path(task))
